<div cg-busy="{promise:myPromise,message:'Wait...',backdrop:true,wrapperClass: 'backdrop'}">

<nav ng-show="!home.clickedLogout" class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="display:inline;">{{home.product}}</a>
    </div>
    <div class="btn-group navbar-header pull-right"  uib-dropdown keyboard-nav style="margin-top:5px;">
      <a href="#" ng-click="home.reload()" class="navbar-btn btn dropdown-toggle" data-toggle="dropdown"><b>{{home.sessionManagerService.get('profile').email}}</b></small></a>
          <ul class="nav dropdown-menu">
              <li><a><i class="glyphicon glyphicon-info-sign"></i> Datasets: {{ home.r.datasetProfiles.length | number}} out of 5</a></li>
              <li><a><i class="glyphicon glyphicon-info-sign"></i> Linked Data: {{ (home.sessionManagerService.get('profile').tripleUsage / 100000) * 100 | number}} % Usage - {{home.sessionManagerService.get('profile').tripleUsage | number}} / 100,000</a></li>
              <li class="nav-divider"></li>
              <li><a><i class="glyphicon glyphicon-cog"></i> Apps</a></li>
              <li>
                <a href="#" style="padding-left: 40px;" ng-click="home.openDashboard(0) ">
                  <i class="glyphicon glyphicon-cog"></i> {{ 'tab.dashboard' | translate }}</a>
              </li>
              <li ng-repeat="app in home.authorizedApps | orderBy : '-name'">
                <a href="#" style="padding-left: 40px;" ng-click="home.openDashboard($index + 1) ">
                  <i class="glyphicon glyphicon-cog"></i> {{ 'tab.' +  app.name | translate }}</a>
              </li>
              <li>
                <a href="#" style="padding-left: 40px;" ng-click="home.openDashboard(home.authorizedApps.length + 1) ">
                  <i class="glyphicon glyphicon-cog"></i> {{ 'tab.contact' | translate }}</a>
              </li>
              <li>
                <a href="#" style="padding-left: 40px;" ng-click="home.openDashboard(home.authorizedApps.length + 1) ">
                  <i class="glyphicon glyphicon-list-alt"></i> {{ 'tab.cities' | translate }}</a>
              </li>
              <li class="nav-divider"></li>
              <li><a style="display:inline"><span class="glyphicon glyphicon-globe"></span> {{ 'menu.language' | translate }} </a>
                  <a href="" style="display:inline;padding:0px;" ng-click="home.lang('en')">{{ 'menu.en' | translate }}</a> |
                  <a href="" style="display:inline;padding:0px;" ng-click="home.lang('de')">{{ 'menu.de' | translate }}</a> |
                  <a href="" style="display:inline;padding:0px;" ng-click="home.lang('fr')">{{ 'menu.fr' | translate }}</a> |
                  <a href="" style="display:inline;padding:0px;" ng-click="home.lang('th')">{{ 'menu.th' | translate }}</a>
              </li>
              <li class="nav-divider"></li>
              <li><a href="" ng-click="home.logout()"><i class="glyphicon glyphicon-log-out"></i> <span ng-bind-html="'menu.signOut' | translate"></span></a></li>
          </ul>

    </div>
  </div>
</nav>

<uib-tabset active="home.tabActive" style="margin-top:-20px;padding-top:0px;" ng-show="!home.clickedLogout">
 <uib-tab index="0">
      <uib-tab-heading><b><span class="glyphicon glyphicon-{{home.tabIconMap['dashboard']}}"></span>   {{ 'tab.dashboard' | translate }}</b></uib-tab-heading>
      <ui-view name="dashboard"></ui-view >
  </uib-tab>
  <uib-tab index="$index + 1" ng-repeat="app in home.authorizedApps | orderBy : '-name'">
      <uib-tab-heading>
        <b><span class="glyphicon glyphicon-{{home.tabIconMap[app.name]}}"></span> {{ 'tab.' +  app.name | translate }}</b>
      </uib-tab-heading>
      <ui-view name="{{app.name}}"></ui-view >
  </uib-tab>
</uib-tabset>

<div class="footer">
  <div class="container">
    <p class="text-center">© Copyright <a href="{{ home.developerWebsite }}" target="website">{{ home.developerOrg }} </a> 2016</p>
  </div>
</div>

</div>
