<div class="row" style="overflow-x: hidden;padding:20px;">

  <div class="col-md-12">

    <div class="col-md-12">


      <h4>{{types.total | number}} resources of {{types.selectedResourceType.name}}</h4>

            <table style="padding-top:30px;">
              <tr ng-repeat="triple in types.typeInstances | filter:types.searchLinkedData">
                <td>{{types.vis.humanReadable(triple.Resource.value)}}</td>
                <td>{{triple.Resource.value}}</td>
              </tr>
            </table>


        <div class="col-md-12" style="padding-top: 30px;">
          Pages
          <span ng-repeat="page in types.pages track by $index | limitTo:10">
            <a href="#" ng-if="($index + 1) === types.currentPage" ng-click="types.nextPage($index + 1)" class="bg-success" style="margin:1px;padding:3px;">{{$index + 1}}</a>
            <a href="#" ng-if="($index + 1) !== types.currentPage" ng-click="types.nextPage($index + 1)" style="margin:1px;">{{$index + 1}}</a>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
